[submodule "/home/adam/Sensor-Fusion-And-Autonomous-Racing-Cars/ros_ws/src/v4l2_camera"]
	path = /home/adam/Sensor-Fusion-And-Autonomous-Racing-Cars/ros_ws/src/v4l2_camera
	url = https://gitlab.com/boldhearts/ros2_v4l2_camera.git
[submodule "/home/adam/Sensor-Fusion-And-Autonomous-Racing-Cars/ros_ws/src/image_common"]
	path = /home/adam/Sensor-Fusion-And-Autonomous-Racing-Cars/ros_ws/src/image_common
	url = https://github.com/AdamSadek/image_common
[submodule "/home/adam/Sensor-Fusion-And-Autonomous-Racing-Cars/ros_ws/src/image_transport_plugins"]
	path = /home/adam/Sensor-Fusion-And-Autonomous-Racing-Cars/ros_ws/src/image_transport_plugins
	url = https://github.com/AdamSadek/image_transport_plugins
[submodule "/home/adam/Sensor-Fusion-And-Autonomous-Racing-Cars/ros_ws/src/transport_drivers"]
	path = /home/adam/Sensor-Fusion-And-Autonomous-Racing-Cars/ros_ws/src/transport_drivers
	url = https://github.com/AdamSadek/transport_drivers
[submodule "/home/adam/Sensor-Fusion-And-Autonomous-Racing-Cars/ros_ws/src/vision_opencv"]
	path = /home/adam/Sensor-Fusion-And-Autonomous-Racing-Cars/ros_ws/src/vision_opencv
	url = https://github.com/AdamSadek/vision_opencv
[submodule "/home/adam/Sensor-Fusion-And-Autonomous-Racing-Cars/ros_ws/src/vesc_driver"]
	path = /home/adam/Sensor-Fusion-And-Autonomous-Racing-Cars/ros_ws/src/vesc_driver
	url = https://github.com/AdamSadek/vesc